[Unit]
Description=z-http service
After=network.target
ConditionPathExists=/
[Service]
Type=simple
ExecStart=/usr/bin/z-http-service
TimeoutSec=0
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
